doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/fontawesome-min.css')
    link(href='/css/style.css' rel="stylesheet")
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    block styleBlock
    title LP Situation Room
body
    .site-mobile-menu.site-navbar-target
        .site-mobile-menu-header
            .site-mobile-menu-close
                span.icofont-close.js-menu-toggle
        .site-mobile-menu-body
    nav.site-nav
        .container
            .site-navigation
                .row
                    .col-md-6.text-center.order-1.order-md-2.mb-3.mb-md-0
                        h3.m-0(style='color: #ff594f') LP Situation Room
                    .col-md-3.order-3.order-md-1 
                        ul.js-clone-nav.d-lg-inline-none.text-start.site-menu.float-end
                            li.active
                                a(href='/login') Admin
                    .col-md-3.text-end.order-2.order-md-3.mb-3.mb-md-0
                        .d-flex
                            ul.list-unstyled.social.me-auto
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                            a.d-none.burger.ms-auto.float-end.site-menu-toggle.js-menu-toggle.d-inline-block(href='#' data-toggle='collapse' data-target='#main-navbar')
                                span


    block content


    .site-footer
        .container
            .row.justify-content-center.copyright
                .col-lg-7.text-center
                    .widget
                        ul.social.list-unstyled
                            li(style="margin-right: 6px")
                                a(href='#')
                                    span.fa.fa-facebook
                            li
                                a(href='#')
                                    span.fa.fa-twitter
                    .widget
                        p
                            | Copyright &copy;
                            script.
                                document.write(new Date().getFullYear());
                            |  All rights reserved 
                        //- .d-block
                        //-     a.m-2(href='#') Terms &amp; Conditions
                        //-     | /
                        //-     a.m-2(href='#') Privacy Policy

    script(src='/js/bootstrap-bundle.min.js')
    script(src='/js/tiny-slider.js')
    script.
        var slider = tns({
            container: '.posts-slide',
            controls: false,
            speed: 600,
            autoplay: true,
            autoplayButtonOutput: false
        });