extend layout 

block content 
    .container
        .row.justify-content-md-center 
            .col-md-6.mt-5.text-center 
                h4 Result Submitted
                br/
                p Thank you! 
                p Your work is done!