doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title LP Situation Room
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet' href='/css/fontawesome-min.css')
    //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Google Font
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
    block styleBlock

body
    .container
        header.d-flex.flex-wrap.align-items-center.justfy-content-center.justfy-content-md-between.py-3.mb-4.border-bottom
            //- a.d-flex.align-items-center.col-md-3.mb-2.mb-md-0.text-dark.text-decoration-none(href='/') Home
            if admin
                ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a.nav-link.px-2.link-dark(href='/pu/results') PU Results
                    li
                        a.nav-link.px-2.link-dark(href='/users') Agents

            .col-9
                if admin  
                    h4 Admin
                else if user && user.role == 'lg'
                    h4 #{agentData.lg.name}
                else if user && user.role == 'ward'
                    h4 Ward Result
                else if user && user.role == 'pu'
                    h4 #{agentData.lg.name} - LG
                else 
                    h4 LP Situation Room


            .col-3.text-end
                a.btn.btn-outline-primary.me-2(href="/users/logout") Logout

    block content


script(src='/js/bootstrap-bundle.min.js')
block scriptBlock